body{
    overflow: hidden;
}
nav{
    display: flex;
    background-color: #20232a;
}
.navbar{
    display: none;
}


.navbar a {
    
    text-decoration: none;
}

.menu{
    display:unset ;
}


/*CONTENT*/


@media screen and (min-width: 900px) and (max-width: 4000px) {

.navbar{
    display: flex;
    justify-content: space-around;
}

.menu {
    display: none;
}

.content{
    padding:0 ;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.content .skill{
    grid-column: 1/3;
    border-right: solid 5px #20232a;
}

.content .display{
    margin-right: -0.5rem;
    grid-column:3/13;

}

.main{
 
}


    
}